{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": false,
	"trailingComma": "none",
	"bracketSameLine": false,
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"arrowParens": "always",
	"plugins": ["prettier-plugin-tailwindcss"]
}
