{
	"useTabs": true,
	"tabWidth": 8,
	"singleQuote": false,
	"trailingComma": "none",
	"bracketSameLine": false,
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"arrowParens": "always",
	"printWidth": 100,
	"plugins": ["prettier-plugin-tailwindcss"]
}
