# Django settings
export DEBUG=
export SECRET_KEY=
export ALLOWED_HOSTS=
export CSRF_TRUSTED_ORIGINS=
export CORS_ALLOWED_ORIGINS=

# PostgreSQL database settings
export POSTGRES_NAME=
export POSTGRES_USER=
export POSTGRES_PASSWORD=
export POSTGRES_HOST=
export POSTGRES_PORT=

# Redis server settings
export REDIS_URL=

# Email host client settings
export EMAIL_HOST_USER=
export EMAIL_HOST_PASSWORD=

# Cloudinary storage settings
export CLOUDINARY_NAME=
export CLOUDINARY_NAME_API_KEY=
export CLOUDINARY_NAME_API_SECRET=