<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <body style="font-family: sans-serif;">
        <h1>Verification code</h1>
        <p>Please use the verification code below to complete your login to Telegram RE. <br>This is a Passwordless authentication, So please don't share this with anyone. </p>
        <p>
            <strong style="font-size: 150%">{{ otp }}</strong>
        </p>
        <p>If you didn’t request this, you can ignore this email.</p>
        <p>Thanks, <br>The Telegram RE team </p>
    </body>
</html>