@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

* {
	margin: 0;
	padding: 0;
}

@layer base {
	:root {
		--primary-100: #766AC8ff;
		--base-100: #0F0F0Fff;
		--base-200: #212121ff;
		--base-300: #2C2C2Cff;
		--neutral-100: #717579ff;
		--neutral-200: #A6A6A6ff;
		--accent-100: #ffffffff;
	}
}
