@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

* {
	margin: 0;
	padding: 0;
}

@layer base {
	:root {
		--primary: 118 106 200;
		--base-100: 15 15 15;
		--base-200: 33 33 33;
		--base-300: 44 44 44;
		--neutral-100: 166 166 166;
		--neutral-200: 113 117 121;
		--neutral-300: 48 48 48;
		--accent: 255 255 255;
		--error: 255 87 51;
	}
}
